---
layout: archive
---

{{ content }}

<style>
  /* Принудительное и надежное скрытие английских слов */
  .page__header, .archive__subtitle { 
    display: none !important; 
  }
  .author__urls-wrapper button, .author__urls-wrapper .btn { 
    display: none !important; 
  }
  .page__footer-follow, .page__footer-copyright, .page__share, .page__share-title { 
    display: none !important; 
  }
</style>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

<div class="entries-layout list">
  {% for post in posts %}
    {% include archive-single.html type="list" %}
  {% endfor %}
</div>

{% include paginator.html %}
